@use '../abstracts' as *;
@use "sass:map";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #5aa6f3, $color-blue);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

    a {
        text-decoration: none;
    }

    .logo {
        position: absolute;
        left: 2rem;
        font-size: $font-size-28px;
        font-weight: bold;

        a {
            color: $color-white;
        }
    }

    .items {
        position: absolute;
        right: 10vh;

        ul {
            list-style: none;
            display: flex;
            gap: 1.5rem;
            padding-left: 0px;

            .section {
                position: relative;
                color: $color-white;
                cursor: pointer;
                font-size: $font-size-18px;
                font-weight: bold;
                padding: 0.5rem 1rem;
                border-radius: 5px;
                transition: background-color 0.3s ease, color 0.3s ease;

                &:hover {
                    background-color: $color-light-blue;
                    color: $color-black;
                }

                .content {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    background-color: $color-white;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    z-index: 1000;

                    max-height: 0;
                    opacity: 0;
                    overflow: hidden;
                    transform: translateY(-10px);
                    transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;


                    .subsection {
                        position: relative;
                        top: 0;
                        padding: 0.5rem;
                        border-radius: 5px;
                        transition: background-color 0.3s ease, color 0.3s ease;
                        //border: 1px solid $color-blue;

                        a {
                            color: $color-black;
                            display: block;
                            width: 100%;
                        }

                        &:hover {
                            background-color: $color-light-blue;
                            color: $color-white;

                            a {
                                color: $color-white;
                            }
                        }
                    }

                    .not-allowed {
                        cursor: not-allowed;
                        a{
                            cursor: not-allowed;
                        }
                    }
                }

                &:hover .content {
                    max-height: 500px;
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
}






// .navbar {

//     // @media screen and (min-width: calc(map.get($breakpoint, medium) + 1px)) { // Large size

//         .logo {
//             position: absolute;
//             left: 2rem;
//             top: calc($navbar-height / 2);

//             a{
//                 text-decoration: none;
//             }

//             span{
//                 color: $color-white;
//                 font-size: 1.5rem;
//                 font-weight: bold;
//             }
//         }

//         .items {
//             /* Position */
//             position: absolute;
//             right: 10vw;
//             bottom: $size-0px;

//             ul{
//                 list-style: none; // Remove the bullet points
//                 display: flex; // Make the items be displayed in a row
//                 margin: 0; 
//             }

//             a{
//                 text-decoration: none;
//             }

//             .section{
//                 /* Position */
//                 // position: relative;

//                 /* Sizes */
//                 width: $navbar-item-width;
//                 height: $navbar-item-height;

//                 background-color: $color-white;
//                 border: 1px solid $color-blue;
//                 // li:hover {
//                 //     background-color: $color-blue;
//                 // }

//                 span{
//                     color: $color-blue;
//                     // padding-top: calc($navbar-item-height/4);
//                     // Align the text vertically inside the item
//                     vertical-align: middle;
//                     text-align: center;
//                     // display: block;
//                 }
//                 .content {
//                     /* Position */
//                     // position: relative;

//                     display: none;
//                     background-color: $color-white;
//                     top: 0px;
//                     left: 0px;
//                     z-index: 1;

//                     // a {
//                     //     padding: 1em;
//                     //     background-color: $color-white;
//                     //     width: 120px;
//                     //     height: 60px;
//                     //     display: block;
//                     // }
//                     a::hover {
//                         background-color: $color-blue-light;
//                         color: $color-white;
//                     }
//                 }

//                 &:hover .content {
//                     display: block;
//                     transform: inherit;
//                     transition-duration: 2s;
//                 }
//             }
//         }
//     // }

//     // @media screen and (min-width: calc(map.get($breakpoint, small) + 1px)) and (max-width: map.get($breakpoint, medium)) { // Medium size

//     //     .logo {
//     //         position: inherit;
//     //         left: 5%;
//     //         top: calc($navbar-height / 2);

//     //         a{
//     //             text-decoration: none;
//     //         }

//     //         span{
//     //             color: $color-white;
//     //             font-size: 1.5em;
//     //             font-weight: bold;
//     //         }
//     //     }

//     //     .items {
//     //         position: inherit;
//     //         left: 10%;
//     //         top: calc($navbar-height / 2);

//     //         ul{
//     //             list-style: none;
//     //             display: flex;
//     //             margin: 0;
//     //         }
//     //         li {
//     //             position: relative;
//     //             background-color: $color-white;
//     //             border: 1px solid $color-blue;
//     //             width: 120px;
//     //             height: $navbar-item-height;
//     //         }
//     //         .section{
//     //             li:hover {
//     //                 background-color: $color-blue-light;
//     //             }
                
//     //             a {
//     //                 color: $color-white;
//     //                 text-decoration: none;
//     //                 //padding: 1em;
//     //                 display: block;
//     //             }

//     //             span{
//     //                 color: $color-blue;
//     //                 padding-top: calc($navbar-item-height/4);
//     //                 text-decoration: none;
//     //                 text-align: center;
//     //                 display: block;
//     //             }
//     //             .content {
//     //                 display: none;
//     //                 position: absolute;
//     //                 top: $navbar-item-height;
//     //                 left: 0px;
//     //                 z-index: 1;

//     //                 a {
//     //                     //padding: 1em;
//     //                     background-color: $color-white;
//     //                     width: 120px;
//     //                     height: 60px;
//     //                     display: block;
//     //                 }
//     //                 a::hover {
//     //                     background-color: $color-blue-light;
//     //                     color: $color-white;
//     //                 }
//     //             }

//     //             &:hover .content {
//     //                 display: block;
//     //                 transform: inherit;
//     //                 transition-duration: 2s;
//     //             }
//     //         }
//     //     }
//     // }

//     // @media screen and (max-width: map.get($breakpoint, small)) { // Small size

//     //     .logo {
//     //         position: inherit;
//     //         left: 5%;
//     //         top: calc($navbar-height / 2);

//     //         a{
//     //             text-decoration: none;
//     //         }

//     //         span{
//     //             color: $color-white;
//     //             font-size: 1.5em;
//     //             font-weight: bold;
//     //         }
//     //     }

//     //     .items {
//     //         position: inherit;
//     //         left: 10%;
//     //         top: toRem(400);

//     //         ul{
//     //             list-style: none;
//     //             //display: flex;
//     //             margin: 0;
//     //         }
//     //         li {
//     //             position: relative;
//     //             background-color: $color-white;
//     //             border: 1px solid $color-blue;
//     //             width: 120px;
//     //             height: $navbar-item-height;
//     //         }
//     //         .section{
//     //             li:hover {
//     //                 background-color: $color-blue-light;
//     //             }
                
//     //             a {
//     //                 color: $color-white;
//     //                 text-decoration: none;
//     //                 //padding: 1em;
//     //                 display: block;
//     //             }

//     //             span{
//     //                 color: $color-blue;
//     //                 padding-top: calc($navbar-item-height/4);
//     //                 text-decoration: none;
//     //                 text-align: center;
//     //                 display: block;
//     //             }
//     //             .content {
//     //                 display: none;
//     //                 position: absolute;
//     //                 top: $navbar-item-height;
//     //                 left: 0px;
//     //                 z-index: 1;

//     //                 a {
//     //                     //padding: 1em;
//     //                     background-color: $color-white;
//     //                     width: 120px;
//     //                     height: 60px;
//     //                     display: block;
//     //                 }
//     //                 a::hover {
//     //                     background-color: $color-blue-light;
//     //                     color: $color-white;
//     //                 }
//     //             }

//     //             &:hover .content {
//     //                 display: block;
//     //                 transform: inherit;
//     //                 transition-duration: 2s;
//     //             }
//     //         }
//     //     }
//     // }
// }