<div class="footer">
    <div class="f-content">
        <div class="f-c-contacts">
            <h1>Contactos</h1>
            <p>Telefone: 123 456 789</p>
            <p>Email: email@example.com</p>
            <div class="f-c-c-socials">
                <a href="https://www.facebook.com" target="_blank"><img src="/img/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com" target="_blank"><img src="/img/instagram.png" alt="Instagram"></a>
            </div>
        </div>
    </div>
</div>