<div class="footer">
    <div class="f-content">
        <div class="f-c-contacts">
            <h1>Contactos</h1>
            <p>Telefone: 915 233 813</p>
            <p>Email: oliveiradouro.atletismo@gmail.com</p>
            <div class="f-c-c-socials">
                <a href="https://www.facebook.com/AcademiaAtletismoCFOD" target="_blank" rel="noopener noreferrer"><img src="/img/partials/footer/logo_facebook.png" alt="Facebook" width="60" height="auto"></a>
                <a href="https://www.instagram.com/atletismo_cfod/" target="_blank" rel="noopener noreferrer"><img src="/img/partials/footer/logo_instagram.png" alt="Instagram"  width="60" height="auto"></a>
            </div>
        </div>
        <div class="f-c-menu">
            <h1>Menu</h1>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="/clube/sobre">Quem Somos?</a></li>
                <li><a href="/clube/treinos">Treinos</a></li>
                <li><a href="/clube/atletas">Atletas</a></li>
                <li><a href="/competicoes/calendario">Competições</a></li>
                <li><a href="/marcas/rankings">Rankings</a></li>
            </ul>
        </div>
        <div class="f-c-location">
            <h1>Onde estamos?</h1>
            <p>Todos os dias: 18:00h - 21:00h no Estádio Municipal de Vila Nova de Gaia</p>
            <p>Hi, R. Entre Quintas, Vila Nova de Gaia, Portugal</p>
            <img src="/img/partials/footer/mapa_estadio.png" alt="Mapa" width="500" height="auto">
            <a href="https://www.google.pt/maps/place/Est%C3%A1dio+Municipal+de+Vila+Nova+de+Gaia/@41.1196244,-8.5997236,15.25z/data=!4m15!1m8!3m7!1s0xd247b3515af7685:0x980d4050284f2f3a!2sEst%C3%A1dio+Municipal+de+Vila+Nova+de+Gaia!8m2!3d41.1198653!4d-8.5947153!10e1!16s%2Fg%2F11c51x9mn_!3m5!1s0xd247b3515af7685:0x980d4050284f2f3a!8m2!3d41.1198653!4d-8.5947153!16s%2Fg%2F11c51x9mn_?hl=pt-PT&entry=ttu&g_ep=EgoyMDI1MDEwOC4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer">Ver localização</a>
        </div>
    </div>
</div>