<div class="navbar">
    <div class="navbar-logo">
        <h1>Atletismo</h1>
    </div>
    <div class="">
        <ul>
            <li><a href="/">Página Principal</a></li>
            
            <li class="dropdown">
                <a href="#">O Clube</a>
                <ul class="dropdown-content">
                    <li><a href="/clube/sobre">Quem somos?</a></li>
                    <li><a href="/clube/atletismo">O que é Atletismo?</a></li>
                    <li><a href="/clube/treinos">Os nossos treinos</a></li>
                    <li><a href="/clube/atletas">Os nossos atletas</a></li>
                    <li><a href="/clube/equipamento">O nosso equipamento</a></li>
                </ul>
            </li>
            
            <li class="dropdown">
                <a href="#">Competições</a>
                <ul class="dropdown-content">
                    <li><a href="/competicoes/calendario">Calendário Competições</a></li>
                    <li><a href="/competicoes/minimos">Marcas de Qualificação</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#">Ranking e Resultados</a>
                <ul class="dropdown-content">
                    <li><a href="/marcas/resultados">Resultados</a></li>
                    <li><a href="/marcas/rankings">Ranking CFOD</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#">Apps</a>
                <ul class="dropdown-content">
                    <li><a href="/apps/calculadora">Calculadora de pontos</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>