<div class="navbar">
    <div class = "logo">
        <a href="/"><span>CFOD</span></a>
    </div>
    <div class="items">
        <ul>
            <a href="/">
                <li class="section"><span>Página Principal</span></li>
            </a>
            
            <li class="section">
                <span>O Clube</span>
                <ul class="content">
                    <li class="subsection"><a href="/clube/sobre"><span>Quem somos?</span></a></li>
                    <li class="subsection"><a href="/clube/atletismo"><span>O que é Atletismo?</span></a></li>
                    <li class="subsection not-allowed"><a href="/clube/treinos"><span>Os nossos treinos</span></a></li>
                    <li class="subsection not-allowed"><a href="/clube/atletas"><span>Os nossos atletas</span></a></li>
                    <li class="subsection not-allowed"><a href="/clube/equipamento"><span>O nosso equipamento</span></a></li>
                </ul>
            </li>
            
            <li class="section">
                <span>Competições</span>
                <ul class="content">
                    <li class="subsection not-allowed"><a href="/competicoes/calendario"><span>Calendário Competições</span></a></li>
                    <li class="subsection not-allowed"><a href="/competicoes/minimos"><span>Marcas de Qualificação</span></a></li>
                </ul>
            </li>

            <li class="section">
                <span>Ranking e Resultados</span>
                <ul class="content">
                    <li class="subsection not-allowed"><a href="/marcas/resultados"><span>Resultados</span></a></li>
                    <li class="subsection not-allowed"><a href="/marcas/rankings"><span>Rankings CFOD</span></a></li>
                </ul>
            </li>

            <li class="section">
                <span>Apps</span>
                <ul class="content">
                    <li class="subsection"><a href="/apps/calculadora"><span>Calculadora de pontos</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>