<div class="banner">
    <div class="b-header">
        <span class="b-header-title">Academia de Atletismo Clube Futebol Oliveira do Douro</span><br>
        <span class="b-header-slogan">Website oficial do clube</span>
    </div>
    <div class="b-content">
        <div class="b-content-section">
            <div class="b-content-section-header">
                <div class="b-content-section-header-title">
                    <span>Quem Somos?</span>
                </div>
                <div class="b-content-section-header-image">
                    <img src="/img/pages/club/about/foto-clube.jpg" alt="O clube" width="100%" height="auto">
                </div>
            </div>
            <div class="b-content-section-text">
                <span>
                    A Academia de Atletismo do Clube Futebol de Oliveira do Douro, é um 
                    projeto fundado em 2012 pelos atuais treinadores Ana Carneiro e Rui Pinto. 
                    Este projeto desde então tem evoluído em atletas, participações em 
                    competições e também em rankings nacionais.
                </span><br>
                <span>
                    No decorrer das épocas, o clube tem ganho destaque em competições nacionais,
                    nomeadamente no Campeonato Nacional de Clubes, onde tem conseguido manter-se
                    na 2ª divisão feminina. 
                </span><br>
                <span>
                    Para além do destaque em competições nacionais de clubes, o clube tem também
                    conseguido obter resultados de destaque em competições individuais, sendo que 
                    cerca de 15 atletas obtiveram marcas de qualificação para a participação em 
                    campeonatos nacionais do próprio escalão ou superior.
                </span><br>
                <span>
                    Tirando a parte competitiva, o clube tem também uma forte componente de formação,
                    sendo que mais de 70 atletas tem entre os 5 e 16 anos, e estes participam em diversas
                    competições regionais em que o clube se destaca pela quantidade e qualidade dos atletas presentes.
                </span>


            </div>
        </div>
    </div>
</div>