<div class="banner">
    <div class="b-header">
        <span class="b-header-title">Academia de Atletismo Clube Futebol Oliveira do Douro</span><br>
        <span class="b-header-slogan">Website oficial do clube</span>
    </div>
    <div class="b-content">
        Página em desenvolvimento.
    </div>
</div>