/* Common Colors */
/* --- Font Sizes --- */
/* Common Font Sizes */
/* Personalized Font Sizes */
/* Common Sizes */
/* Navbar Sizes */
/* Banner Sizes */
/* Button Sizes */
/* Footer Sizes */
.cursor-default {
  cursor: default !important;
}

@media screen and (max-width: 800px) {
  body .navbar {
    position: fixed;
    width: 250px;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1000;
  }
  body .navbar.open {
    transform: translateX(0);
  }
  body .toggle-button {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1001;
  }
  body .toggle-button.open::after {
    content: "Click";
  }
  body .toggle-button.closed::after {
    content: "Click";
  }
}

@media screen and ((min-width: 801px) and (max-width: 1200px)) {
  body .banner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 7.5rem;
    left: 0px;
    background-color: rgba(155, 2, 2, 0.3);
  }
  body .navbar {
    position: absolute;
    width: 100%;
    height: 7.5rem;
    top: 0px;
    left: 0px;
  }
}

@media screen and (min-width: 1201px) {
  body {
    background-color: #444;
  }
  body .banner {
    /* Position */
    position: absolute;
    top: 7.5rem;
    left: calc((100% - 75rem) / 2);
    /* Sizes */
    width: 75rem;
    height: 100%;
    /* Colors */
    background-color: #fff;
    /* Border */
    /* Text */
  }
  body .navbar {
    /* Position */
    position: fixed;
    width: 100%;
    height: 7.5rem;
    top: 0px;
    left: 0px;
    z-index: 9999;
  }
}

.navbar {
  background: rgba(13, 88, 166, 0.8);
  background: linear-gradient(90deg, rgb(52, 137, 177) 0%, #0d58a6 50%, #2c82d1 100%);
}
@media screen and (min-width: 1201px) {
  .navbar .logo {
    position: inherit;
    left: 5%;
    top: 3.75rem;
  }
  .navbar .logo a {
    text-decoration: none;
  }
  .navbar .logo span {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
  }
  .navbar .items {
    position: inherit;
    right: 10%;
    top: 4.375rem;
  }
  .navbar .items ul {
    list-style: none;
    display: flex;
    margin: 0;
  }
  .navbar .items li {
    position: relative;
    background-color: #fff;
    border: 1px solid #0d58a6;
    width: 120px;
    height: 3.125rem;
  }
  .navbar .items .section li:hover {
    background-color: #2c82d1;
  }
  .navbar .items .section a {
    color: #fff;
    text-decoration: none;
    display: block;
  }
  .navbar .items .section span {
    color: #0d58a6;
    padding-top: 0.78125rem;
    text-decoration: none;
    text-align: center;
    display: block;
  }
  .navbar .items .section .content {
    display: none;
    position: absolute;
    top: 3.125rem;
    left: 0px;
    z-index: 1;
  }
  .navbar .items .section .content a {
    background-color: #fff;
    width: 120px;
    height: 60px;
    display: block;
  }
  .navbar .items .section .content a::hover {
    background-color: #2c82d1;
    color: #fff;
  }
  .navbar .items .section:hover .content {
    display: block;
    transform: inherit;
    transition-duration: 2s;
  }
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
  .navbar .logo {
    position: inherit;
    left: 5%;
    top: 3.75rem;
  }
  .navbar .logo a {
    text-decoration: none;
  }
  .navbar .logo span {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
  }
  .navbar .items {
    position: inherit;
    left: 10%;
    top: 3.75rem;
  }
  .navbar .items ul {
    list-style: none;
    display: flex;
    margin: 0;
  }
  .navbar .items li {
    position: relative;
    background-color: #fff;
    border: 1px solid #0d58a6;
    width: 120px;
    height: 3.125rem;
  }
  .navbar .items .section li:hover {
    background-color: #2c82d1;
  }
  .navbar .items .section a {
    color: #fff;
    text-decoration: none;
    display: block;
  }
  .navbar .items .section span {
    color: #0d58a6;
    padding-top: 0.78125rem;
    text-decoration: none;
    text-align: center;
    display: block;
  }
  .navbar .items .section .content {
    display: none;
    position: absolute;
    top: 3.125rem;
    left: 0px;
    z-index: 1;
  }
  .navbar .items .section .content a {
    background-color: #fff;
    width: 120px;
    height: 60px;
    display: block;
  }
  .navbar .items .section .content a::hover {
    background-color: #2c82d1;
    color: #fff;
  }
  .navbar .items .section:hover .content {
    display: block;
    transform: inherit;
    transition-duration: 2s;
  }
}
@media screen and (max-width: 800px) {
  .navbar .logo {
    position: inherit;
    left: 5%;
    top: 3.75rem;
  }
  .navbar .logo a {
    text-decoration: none;
  }
  .navbar .logo span {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
  }
  .navbar .items {
    position: inherit;
    left: 10%;
    top: 25rem;
  }
  .navbar .items ul {
    list-style: none;
    margin: 0;
  }
  .navbar .items li {
    position: relative;
    background-color: #fff;
    border: 1px solid #0d58a6;
    width: 120px;
    height: 3.125rem;
  }
  .navbar .items .section li:hover {
    background-color: #2c82d1;
  }
  .navbar .items .section a {
    color: #fff;
    text-decoration: none;
    display: block;
  }
  .navbar .items .section span {
    color: #0d58a6;
    padding-top: 0.78125rem;
    text-decoration: none;
    text-align: center;
    display: block;
  }
  .navbar .items .section .content {
    display: none;
    position: absolute;
    top: 3.125rem;
    left: 0px;
    z-index: 1;
  }
  .navbar .items .section .content a {
    background-color: #fff;
    width: 120px;
    height: 60px;
    display: block;
  }
  .navbar .items .section .content a::hover {
    background-color: #2c82d1;
    color: #fff;
  }
  .navbar .items .section:hover .content {
    display: block;
    transform: inherit;
    transition-duration: 2s;
  }
}

.footer {
  /* Colors */
  background-color: #0d58a6;
}

.b-header {
  /* Position */
  position: absolute;
  top: 0rem;
  left: 0rem;
  /* Sizes */
  width: 100%;
  height: 7.5rem;
  /* Colors */
  background-color: #0d58a6;
  /* Text */
  text-align: center;
}
.b-header .b-header-title {
  /* Position */
  position: relative;
  top: 0.625rem;
  /* Text */
  font-size: 2.5rem;
  color: #fff;
}
.b-header .b-header-slogan {
  /* Position */
  position: relative;
  top: 0.625rem;
  /* Text */
  font-size: 1.25rem;
  color: #fff;
}

.b-content {
  /* Position */
  position: relative;
  top: 7.5rem;
  left: 0rem;
  /* Sizes */
  width: 100%;
  height: auto;
  /* Colors */
  background-color: #fff;
}
.b-content .b-content-block {
  /* Position */
  position: relative;
  top: 0rem;
  left: calc((100% - 56.25rem) / 2);
  /* Sizes */
  width: 56.25rem;
  height: 22.5rem;
  /* Margins */
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  /* Border */
  border-style: solid;
  border-width: 0.3125rem 0.625rem;
  border-color: #0d58a6;
  border-radius: 0.3125rem;
}
.b-content .b-content-block .b-content-block-left {
  /* Position */
  position: absolute;
  top: 0rem;
  left: 0rem;
  /* Sizes */
  width: 27.5rem;
  height: 22.5rem;
}
.b-content .b-content-block .b-content-block-right {
  /* Position */
  position: absolute;
  top: 0rem;
  right: 0rem;
  /* Sizes */
  width: 27.5rem;
  height: 22.5rem;
}
.b-content .b-content-block .b-content-block-image {
  /* MUDAR */
  background-color: #000;
}
.b-content .b-content-block .b-content-block-text {
  /* Margins */
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  /* Colors */
  background-color: #fff;
}
.b-content .b-content-block .b-content-block-text .b-content-block-text-header {
  /* Position */
  position: relative;
  /* Margins */
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
  /* Colors */
  color: #000;
  /* Border */
  border-bottom-style: solid;
  border-color: #0d58a6;
  /* Text */
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
}
.b-content .b-content-block .b-content-block-text .b-content-block-text-content {
  /* Position */
  position: relative;
  top: 1.5625rem;
  /* Colors */
  color: #000;
  /* Text */
  text-align: left;
}
.b-content .b-content-block .b-content-block-text .b-content-block-text-button {
  /* Position */
  position: absolute;
  bottom: 0.625rem;
  left: calc(50% - 3.75rem);
  /* Text */
}
.b-content .b-content-section {
  /* Position */
  position: relative;
  top: 0rem;
  left: 0rem;
  /* Sizes */
  width: 100%;
  height: auto;
  /* Margins */
  margin-top: 1.5625rem;
}
.b-content .b-content-section .b-content-section-header {
  /* Position */
  position: relative;
  top: 0rem;
  left: calc((100% - 62.5rem) / 2);
  /* Sizes */
  width: 62.5rem;
  height: auto;
}
.b-content .b-content-section .b-content-section-header .b-content-section-header-title {
  /* Margins */
  margin-top: 0.625rem;
  /* Text */
  font-size: 1.875rem;
  color: #000;
}
.b-content .b-content-section .b-content-section-header .b-content-section-header-image {
  /* Position */
  position: relative;
  top: 0rem;
  /* Margins */
  margin-top: 0.625rem;
}
.b-content .b-content-section .b-content-section-text {
  /* Position */
  position: relative;
  top: 0rem;
  left: calc((100% - 62.5rem) / 2);
  /* Sizes */
  width: 62.5rem;
  height: auto;
  /* Margins */
  margin-top: 0.625rem;
  /* Text */
  font-size: 1.25rem;
  color: #000;
}

.b-button {
  /* Size */
  width: 7.5rem;
  height: 2.5rem;
  /* Colors */
  background-color: #2c82d1;
  color: #fff;
  /* Others */
  cursor: pointer;
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Background of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Background of the scrollbar thumb on hover */
}

/* For Firefox */
html {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Color of the scrollbar thumb and track */
}

/*# sourceMappingURL=styles.css.map */
