<div class="banner">
    <div class="b-header">
        <h1>Home</h1>
    </div>
    <div class="b-content">
        <div class="b-block">
            <div class="b-block-left b-block-text">
                <div class="b-block-text-header">
                    <span>Quem Somos?</span>
                </div>
                <div class="b-block-text-content">
                    <span>
                        A Academia de Atletismo do Clube Futebol de Oliveira do Douro é um 
                        projeto fundado em 2012 pelos atuais treinadores Ana Carneiro e Rui Pinto. 
                        Este projeto desde então tem evoluído em atletas, participações em 
                        competições e também em rankings nacionais.
                    </span>

                </div>
                <div class="b-block-text-button">
                    <button class="b-button">Saber mais</button>
                </div>
            </div>
            <div class="b-block-right b-block-image">

            </div>
        </div>
        <div class="b-block">
            <div class="b-block-left b-block-image">

            </div>
            <div class="b-block-right b-block-text">
                <h2>News</h2>
                <p>Here you can find the latest news about the club.</p>
            </div>
        </div>
        <div class="b-block">
            <h2>News</h2>
            <p>Here you can find the latest news about the club.</p>
        </div>
        <div class="b-block">
            <h2>News</h2>
            <p>Here you can find the latest news about the club.</p>
        </div>
        <div class="b-block">
            <h2>News</h2>
            <p>Here you can find the latest news about the club.</p>
        </div>
        <div class="b-block">
            <h2>News</h2>
            <p>Here you can find the latest news about the club.</p>
        </div>
    </div>
</div>