<div class="banner">
    <div class="b-header">
        <span class="b-header-title">Academia de Atletismo Clube Futebol Oliveira do Douro</span><br>
        <span class="b-header-slogan">Website oficial do clube</span>
    </div>
    <div class="b-content">
        <!-- Quem Somos? -->
        <div class="b-block">
            <div class="b-block-left b-block-text">
                <div class="b-block-text-header">
                    <span>Quem Somos?</span>
                </div>
                <div class="b-block-text-content">
                    <span>
                        A Academia de Atletismo do Clube Futebol de Oliveira do Douro é um 
                        projeto fundado em 2012 pelos atuais treinadores Ana Carneiro e Rui Pinto. 
                        Este projeto desde então tem evoluído em atletas, participações em 
                        competições e também em rankings nacionais.
                    </span>

                </div>
                <div class="b-block-text-button">
                    <a href="/clube/sobre">
                        <button class="b-button">
                            <span>Saber mais</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="b-block-right b-block-image">

            </div>
        </div>
        <!-- O que é Atletismo? -->
        <div class="b-block">
            <div class="b-block-left b-block-image">
            </div>
            <div class="b-block-right b-block-text">
                <div class="b-block-text-header">
                    <span>O que é Atletismo?</span>
                </div>
                <div class="b-block-text-content">
                    <span>
                        De certeza que já ouviste dizer que atletismo é só correr, 
                        mas, na verdade, é muito mais do que isso.
                        O atletismo engloba diversas disciplinas tais como corridas 
                        curtas e rápidas, longas e de resistência, saltos, lançamentos e marcha.
                        Devido a esta diversidade o atletismo consegue captar uma grande diversidade de atletas diferentes.
                    </span>

                </div>
                <div class="b-block-text-button">
                    <a href="/clube/atletismo">
                        <button class="b-button">
                            <span>Saber mais</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <!-- Os nossos treinos -->
        <div class="b-block">
            <div class="b-block-left b-block-text">
                <div class="b-block-text-header">
                    <span>Os nossos treinos</span>
                </div>
                <div class="b-block-text-content">
                    <span>
                        Na Academia de Atletismo do CFOD temos treinos para todas as idades, níveis de experiência e objetivos.
                        Se queres começar a correr, a saltar ou a lançar, ou se já és um atleta experiente, temos um grupo de treino para ti.
                    </span>

                </div>
                <div class="b-block-text-button">
                    <a href="/clube/treinos">
                        <button class="b-button">
                            <span>Saber mais</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="b-block-right b-block-image">
            </div>
        </div>
        <!-- Competições -->
        <div class="b-block">
            <div class="b-block-left b-block-image">
            </div>
            <div class="b-block-right b-block-text">
                <div class="b-block-text-header">
                    <span>Competições</span>
                </div>
                <div class="b-block-text-content">
                    <span>
                        Tens interesse em saber quando são as tuas próximas competições mas não sabes onde procurar?
                        Podes consultar o nosso calendário de competições personalizado para os atletas do CFOD.
                    </span>

                </div>
                <div class="b-block-text-button">
                    <a href="/competicoes/calendario">
                        <button class="b-button">
                            <span>Saber mais</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <!-- Resultados -->
        <div class="b-block">
            <div class="b-block-left b-block-text">
                <div class="b-block-text-header">
                    <span>Resultados</span>
                </div>
                <div class="b-block-text-content">
                    <span>
                        Queres saber como te saíste na última competição? Ou queres saber como se saíram os teus colegas?
                        Podes consultar os resultados das competições em que participaste ou em que os atletas do CFOD participaram.
                    </span>

                </div>
                <div class="b-block-text-button">
                    <a href="/marcas/resultados">
                        <button class="b-button">
                            <span>Saber mais</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="b-block-right b-block-image">

            </div>
        </div>
        <!-- Rankings CFOD -->
        <div class="b-block">
            <div class="b-block-left b-block-image">
            </div>
            <div class="b-block-right b-block-text">
                <div class="b-block-text-header">
                    <span>Rankings CFOD</span>
                </div>
                <div class="b-block-text-content">
                    <span>
                        Neste website também podes encontrar os rankings de todos os 
                        atletas e ex-atletas do CFOD desde o início do projeto.
                        Podes consultar os rankings por disciplina, por escalão etário e por género.
                        Também consegues descobrir as melhores qualificações num determinado ano.
                    </span>

                </div>
                <div class="b-block-text-button">
                    <a href="/marcas/rankings">
                        <button class="b-button">
                            <span>Saber mais</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <!-- Aplicações -->
        <div class="b-block">
            <div class="b-block-left b-block-text">
                <div class="b-block-text-header">
                    <span>Aplicações</span>
                </div>
                <div class="b-block-text-content">
                    <span>
                        Por último, mas não menos importante, temos uma secção que com as aplicações mais 
                        utilizadas pelos atletas. Nomeadamente a calculadora de pontos das provas combinadas 
                        que te permite saber como te estás a sair numa competição.
                    </span>

                </div>
                <div class="b-block-text-button">
                    <a href="/apps/calculadora">
                        <button class="b-button">
                            <span>Saber mais</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="b-block-right b-block-image">
            </div>
        </div>
    </div>
</div>