//? All the variables used in the project are defined here.

// -----------------------------------------
// Colors
// -----------------------------------------
$blue: #0d58a6;
$blue-light: #2c82d1;
$color-secondary: #444;
$white: #fff;
$font-stack: Arial, sans-serif;