//? All the variables used in the project are defined here.
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
// -----------------------------------------
// Colors
// -----------------------------------------

/* Primary Colors */

$color-primary: #bdbdbd; // To be used in 60% of the screen (background)
$color-primary-v2: #f5f5f5; // Another version of the primary color

/* Secondary Colors */
$color-secondary: #333538; // To be used in 30% of the screen (main elements)

/* Tertiary Colors */
$color-tertiary: #e7e43c; // To be used in 10% of the screen (highlights)

/* Fixed Colors */
$color-blue: #0d58a6;
$color-blue-light: #2c82d1;
$color-white: #ffffff;
$color-black: #000;
$color-light-gray: #f5f5f5;
$color-light-blue: #5eb4ff;

// -----------------------------------------
// Fonts
// -----------------------------------------
$font-family: Arial, sans-serif;

/* --- Font Sizes --- */

/* Common Font Sizes */
$font-size-16px: toRem(16);
$font-size-18px: toRem(18);
$font-size-20px: toRem(20);
$font-size-24px: toRem(24);
$font-size-28px: toRem(28);

/* Personalized Font Sizes */
$banner-block-text-header-font-size: toRem(28);
$banner-button-text: toRem(18);
$banner-header-title-font-size: toRem(40);
$banner-content-header-title-font-size: toRem(30);
// -----------------------------------------
// Sizes
// -----------------------------------------

/* Common Sizes */
$size-0px: toRem(0);
$size-1px: toRem(1);
$size-5px: toRem(5);
$size-10px: toRem(10);
$size-25px: toRem(25);
$size-50px: toRem(50);
$size-100px: toRem(100);

/* Navbar Sizes */
$navbar-height: toRem(120); // Applied when large resolution
$navbar-width: toRem(250); // Applied when small resolution
$navbar-item-height: toRem(50);
$navbar-item-width: toRem(120);

/* Banner Sizes */
$banner-width: toRem(1200); // Applied when large resolution
$banner-header-height: toRem(120);
$banner-block-width: toRem(900);
$banner-block-height: toRem(320);
$banner-block-margin-bottom: toRem(20);
$banner-block-side-padding: toRem(10);
$banner-block-side-width: calc(($banner-block-width / 2) - $banner-block-side-padding);
$banner-block-text-header-padding: toRem(3);
$banner-content-header-width: toRem(1000);
$banner-content-header-height: toRem(60);

/* Button Sizes */
$banner-button-width: toRem(120);
$banner-button-height: toRem(40);

/* Footer Sizes */
$footer-height: toRem(500);


// -----------------------------------------
// Breakpoints
// -----------------------------------------
$breakpoint: (
    small: 800px,
    medium: 1200px,
);