@use '../abstracts' as *;

.b-header{
    /* Position */
    position: absolute;
    top: $size-0px;
    left: $size-0px;

    /* Sizes */
    width: 100%;
    height: $banner-header-height;

    /* Colors */
    background-color: $color-blue;

    /* Text */
    text-align: center;

    .b-header-title{
        /* Position */
        position: relative;
        top: $size-10px;

        /* Text */
        font-size: $banner-header-title-font-size;
        color: $color-white;
    }
    .b-header-slogan{
        /* Position */
        position: relative;
        top: $size-10px;

        /* Text */
        font-size: $font-size-20px;
        color: $color-white;
    }
}
.b-content{
    /* Position */
    position: relative;
    top: $banner-header-height;
    left: $size-0px;

    /* Sizes */
    width: 100%; 
    height: auto;

    /* Colors */
    background-color: $color-white;

    .b-content-block{
        /* Position */
        position: relative;
        top: $size-0px;
        left: calc((100% - $banner-block-width) / 2);

        /* Sizes */
        width: $banner-block-width;
        height: $banner-block-height;
        
        /* Margins */
        margin-top: $banner-block-margin-bottom;
        margin-bottom: $banner-block-margin-bottom;

        /* Border */
        border-style: solid;
        border-width: toRem(5) toRem(10);
        border-color: $color-blue;
        border-radius: toRem(5);

        .b-content-block-left{
            /* Position */
            position: absolute;
            top: $size-0px;
            left: $size-0px;

            /* Sizes */
            width: $banner-block-side-width;
            height: $banner-block-height;
        }

        .b-content-block-right{
            /* Position */
            position: absolute;
            top: $size-0px;
            right: $size-0px;

            /* Sizes */
            width: $banner-block-side-width;
            height: $banner-block-height;
        }

        .b-content-block-image{
            /* MUDAR */
            background-color: $color-black;
        }

        .b-content-block-text{
            /* Margins */
            padding-left: $banner-block-side-padding;
            padding-right: $banner-block-side-padding;

            /* Colors */
            background-color: $color-white;

            .b-content-block-text-header{
                /* Position */
                position: relative;

                /* Margins */
                padding-top: $banner-block-text-header-padding;
                padding-bottom: $banner-block-text-header-padding;

                /* Colors */
                color: $color-black;

                /* Border */
                border-bottom-style: solid; 
                border-color: $color-blue;

                /* Text */
                text-align: center;
                font-size: $banner-block-text-header-font-size;
                font-weight: bold;
            }

            .b-content-block-text-content{
                /* Position */
                position: relative;
                top: $size-25px;

                /* Colors */
                color: $color-black;

                /* Text */
                text-align: left;
            }

            .b-content-block-text-button{
                /* Position */
                position: absolute;
                bottom: $size-10px;
                left: calc(50% - ($banner-button-width / 2));

                /* Text */
            }
        }
    }
    
    .b-content-section{
        /* Position */
        position: relative;
        top: $size-0px;
        left: $size-0px;

        /* Sizes */
        width: 100%; 
        height: auto;

        /* Margins */
        margin-top: $size-25px;

        .b-content-section-header{
            /* Position */
            position: relative;
            top: $size-0px;
            left: calc((100% - $banner-content-header-width) / 2);;
    
            /* Sizes */
            width: $banner-content-header-width;
            height: auto;
    
            .b-content-section-header-title{
                /* Margins */
                margin-top: $size-10px;
    
                /* Text */
                font-size: $banner-content-header-title-font-size;
                color: $color-black;
            }
            
            .b-content-section-header-image{
                /* Position */
                position: relative;
                top: $size-0px;
    
                /* Margins */
                margin-top: $size-10px;
            }
        }
    
        .b-content-section-text{
            /* Position */
            position: relative;
            top: $size-0px;
            left: calc((100% - $banner-content-header-width) / 2);;
    
            /* Sizes */
            width: $banner-content-header-width;
            height: auto;

            /* Margins */
            margin-top: $size-10px;
    
            /* Text */
            font-size: $font-size-20px;
            color: $color-black;
        }
    }
}
.b-button{
    /* Size */
    width: $banner-button-width;
    height: $banner-button-height;

    /* Colors */
    background-color: $color-blue-light;
    color: $color-white;

    /* Others */
    cursor: pointer;
}