@use '../abstracts';

nav {
    @include abstracts.navbar-style(abstracts.$color-primary, abstracts.$color-text-light);
    padding: 1em;

    ul {
        list-style: none;
        display: flex;
        margin: 0;
    }

    li {
        position: relative;

        &:hover {
            background-color: abstracts.$color-secondary;
        }

        a {
            color: abstracts.$color-text-light;
            text-decoration: none;
            padding: 1em;
            display: block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: abstracts.$color-secondary;
            min-width: 200px;
            z-index: 1;

            a {
                padding: 1em;
                display: block;
            }
        }

        &:hover .dropdown-content {
            display: block;
        }
    }
}