@use '../abstracts' as *;
@use "sass:map";

body{
    @media screen and (min-width: calc(map.get($breakpoint, medium) + 1px)) { // Large size 1200px and above

        margin: 0px;
        padding: 0;
        background-color: $color-secondary;
        .navbar {
            /* Position */
            position: fixed;
            top: $size-0px;
            left: $size-0px;
            z-index: 9999;
            /* Sizes */
            width: 100%;
            height: $navbar-height;
        }

        .banner {
            /* Position */
            position: relative;
            top: $size-0px;
            left: calc((100% - $banner-width) / 2);

            /* Sizes */
            width: $banner-width;
            // Make the height take the highest of these two values: height of the banner (depends on its content) or 100% of the viewport
            height: max(100%, 100vh);
            
            /* Colors */
            background-color: $color-white;

            /* Margins */
            // margin-bottom: -21px; //FIXME: This is a hack to avoid a small gap between the banner and the footer
            padding-top: $navbar-height;

            /* Text */
        }

        .footer{
            /* Position */
            position: relative;
            bottom: $size-0px;
            left: $size-0px;
        
            /* Sizes */
            width: 100%;
            height: $footer-height;

        }
    }
}