@use '../abstracts' as *;
@use "sass:map";

body{
    @media screen and (min-width: calc(map.get($breakpoint, medium) + 1px)) { // Large size 1200px and above
        background-color: $color-secondary;

        .banner {
            /* Position */
            position: absolute;
            top: $navbar-height;
            left: calc((100% - $banner-width) / 2);

            /* Sizes */
            width: $banner-width; 
            height: 100%;
            
            /* Colors */
            background-color: $color-white;

            /* Border */

            /* Text */
        }
    
        // body {
        // //   background: url('path/to/your/background-image.jpg') no-repeat center center;
        // //   background-size: cover;
        // }
    
        .navbar {
            /* Position */
            position: fixed;
            width: 100%;
            height: $navbar-height;
            top: 0px;
            left: 0px;
            z-index: 9999;

        }
    }
}