<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atletismo CFOD</title>
    <link rel="icon" type="image/png" href="/img/favicon.png"/>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        {{> header}}
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        {{> footer}}
    </footer>
</html>